Adafruit-Blinka==8.57.0
adafruit-circuitpython-busdevice==5.2.11
adafruit-circuitpython-connectionmanager==3.1.3
adafruit-circuitpython-dotstar==2.2.16
adafruit-circuitpython-motor==3.4.15
adafruit-circuitpython-motorkit==1.6.16
adafruit-circuitpython-neopixel==6.3.15
adafruit-circuitpython-pca9685==3.4.17
adafruit-circuitpython-pixelbuf==2.0.7
adafruit-circuitpython-register==1.10.2
adafruit-circuitpython-requests==4.1.10
adafruit-circuitpython-servokit==1.3.19
adafruit-circuitpython-typing==1.11.2
Adafruit-PlatformDetect==3.79.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
certifi==2025.4.26
chardet==5.2.0
charset-normalizer==3.4.2
colorclass==2.2.2
colorzero==2.0
docopt==0.6.2
gitdb==4.0.12
GitPython==3.1.44
gpiozero==2.0.1
icmplib==3.0.4
idna==3.10
ipaddress==1.0.23
keyboard==0.13.5
netifaces==0.11.0
packaging==25.0
pip-upgrader==1.4.15
psutil==7.0.0
pyftdi==0.56.0
pyparsing==3.2.3
pyserial==3.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pyusb==1.3.1
requests==2.32.3
rollbar==1.3.0
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
schedule==1.2.2
simpleaudio==1.0.4
six==1.17.0
smbus==1.1.post2
smmap==5.0.2
spidev==3.7
sysv_ipc==1.1.0
terminaltables==3.1.10
typing_extensions==4.13.2
urllib3==2.4.0
